name: Medicine Sync Cron

on:
  schedule:
    - cron: '*/10 1-4 * * *' # every 10 min between 1AM-4AM
  workflow_dispatch:

jobs:
  update-medicines:
    runs-on: ubuntu-latest
    steps:
      - name: Call Supabase Edge Function
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
        run: |
          curl -i -X POST "${SUPABASE_URL}" \
          -H "apikey: ${SUPABASE_KEY}" \
          -H "Content-Type: application/json" \
          -d '{"batchIndex": 0}'
