name: Medicine Sync Cron

on:
  schedule:
    - cron: '*/10 1-4 * * *'
  workflow_dispatch:

jobs:
  update-medicines:
    runs-on: ubuntu-latest
    steps:
      - name: Send POST request to Supabase Edge Function
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }} # يجب أن يكون https://<project_ref>.supabase.co/functions/v1/<function_name>
          SUPABASE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
        run: |
          curl -i -X POST "${SUPABASE_URL}" \
          -H "apikey: ${SUPABASE_KEY}" \
          -H "Content-Type: application/json" \
          -d '{"batchIndex": 0}'
